.fluxContainer {
	margin: 0px;
	margin-bottom: 50px;
	padding:3px;
	width: 700px;
	background-color:#9ED9F6;
	border:0px solid #101010;
    -webkit-border-radius: 4px;    /* for Safari */
    -moz-border-radius: 4px;       /* for Firefox */
	/*overflow: hidden;*/
}

.receiverBox {
	/*the little box containing each receiver*/
	margin: 5px;
	/*margin-left: 30px;*/
	padding: 10px;
	height: 20px;
	background-color:#4E6685;
	border:0px solid #101010;
    -webkit-border-radius: 4px;    /* for Safari */
    -moz-border-radius: 4px;       /* for Firefox */
	color:white;
}

.sliderContainer {
	width: 200px;
	float: right;
	cursor: default;
}

div.receiverShare {
	width: 30px;
	padding-left:25px;
	float:right;
}

.xbutton {
	width: 25px;
	height: 25px;
	text-align: center;
	float: right;
	background-color: #FF5050;
    -webkit-border-radius: 2px;    /* for Safari */
    -moz-border-radius: 2px;       /* for Firefox */
	cursor: pointer;
}

/*used for the flux title, and opssibly in many other places, but not yet*/
.blueBox {
	margin-right: 10px;
	padding: 10px;
	height: 20px;
        min-width: 70px;
	background-color:#4E6685;
	border:0px solid #101010;
    -webkit-border-radius: 4px;    /* for Safari */
    -moz-border-radius: 4px;       /* for Firefox */
	color:white;
}

.blueBox a, .blueBox a:visited {
	color: white;
}	

div#myfluxes {
	background-color: #232C37;
	width:750px;
	padding: 20px;
    -webkit-border-radius: 10px;    /* for Safari */
    -moz-border-radius: 10px;       /* for Firefox */
}

ul.receiversUL {
	padding-top:2px;
	padding-bottom:2px;
	list-style-image: url('../../img/arrow.png');
}

.draggable {
	cursor: move;
}

.dropHint {
	width: 100%;	
	text-align:center;
	color: #003050;
	margin-bottom:4px;
}
