#topBar {
	background-color: #4E6685;
	color: white;
	padding: 4px;
	text-align: right;
}

#topBar a, #topBar a:visited {
	color: white;
}

.warning {
    background-color: #FF7;
    margin: 5px;
    padding: 3px;
    border: 1px solid #AA0;
}

body {
	padding: 0px;
	margin: 0px;
}
